.status{
    cursor: pointer;
    &-toggle{
        width: 4.8rem;
        height: 2.2rem;
   
        position: relative;
        border-radius: 1.6rem;
        span{
            transition: all .4s;
            position: absolute;
            width: 1.4rem;
            height: 1.4rem;
            background-color: white;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
           
        }
    }
}
