@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Nunito+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    box-sizing: inherit;
    margin: 0rem;
    padding: 0rem;
}
:root{
    --gray-primary: #666;
    --green-primary:#00B207;
    --green-primary-2:#2C742F;
    --white-primary:#fff;
    --orange-primary:#FF8A00;
    --black-primary:#1A1A1A;

}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
 
}
body{
    font-size: 1.4rem;
    background-color: #f5f5f5;
    box-sizing: border-box;
   
}
.App{
    overflow: hidden;
}
.container{
    width: 100%;
    max-width: 131rem;
    margin: 0 auto;
    padding: 0rem 1.9rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* flex box */
.d-flex{
    display: flex;
}
.d-flex.align-center{
    align-items: center;
}
.d-flex.justify-content-center{
    justify-content: center;
}
.d-flex.justify-content-right{
    justify-content: right;
}
.d-flex.justify-content-between{
    justify-content: space-between;
}
.d-flex.flex-column{
    flex-direction: column;
}
.d-flex.align-end{
    align-items: end;
}
.gap-21{
    gap:2.1rem;
}
.mr-16{
    margin-right: 1.6rem;
}
.mr-20{
    margin-right: 2rem;
}
.mr-6{
    margin-right: .6rem;
}
.mr-24{
    margin-right: 2.4rem;
}
.mt-64{
    margin-top: 6.4rem;
}
.mt-16{
    margin-top: 1.6rem;
}
.mt-24{
    margin-top: 2.4rem;
}
.mt-32{
    margin-top: 3.2rem;
}

.mt-2{
    margin-top: .2rem;
}
.mt-128{
    margin-top: 12.8rem;
}
.mt-60{
    margin-top: 6rem;
}
.mb-20{
    margin-bottom: 2rem !important;
}
.mb-64{
    margin-bottom: 6.4rem;
}
.mb-60{
    margin-bottom: 6rem;
}
.mr-64{
    margin-right: 6.4rem;
}
.mb-128{
    margin-bottom: 12.8rem;
}
.mb-16{
    margin-bottom: 1.6rem;
}
.mb-43{
    margin-bottom: 4.3rem;
}
.mb-32{
    margin-bottom: 3.2rem;
}
.ml-20{
    margin-left: 2rem;
}
.ml-16{
    margin-left: 1.6rem;
}
.mr-32{
    margin-right: 3.2rem;
}
.mr-42{
    margin-right: 4.2rem;
}

.p-y-32{
    padding: 3.2rem 0rem;
}
.py-64{
   padding-top: 6.4rem;
   padding-bottom: 6.4rem;
}
.py-60{
    margin: 6rem rem;
}
.px-64{
   padding-left: 6.4rem;
   padding-right: 6.4rem;
}
.pl-42{
    padding-left: 4.2rem;
}
.py-32{
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
 }
 .px-32{
    padding-left: 3.2rem;
    padding-right: 3.2rem;
 }
 .px-12{
    padding: 1.2rem 0rem !important;
}
.px-14{
    padding: 1.4rem 0rem !important;
}
.px-42{
    padding: 0 4.2rem;
}

/* button */
/* col */
.col-2{
    width: 16.777%;
    min-width: 16.777%;
}
.col-2-x{
    width: 33.333%;
    min-width: 3.333%;
}
.col-3{
    width: 40%;
    min-width: 40%;
}

.col-5{
    width: 50%;
    max-width: 50%;
}

.col-6{
    width: 60%;
    max-width: 60%;
}
.col-6-x{
    width: 67.777%;
    max-width: 67.777%;
}
.col-8{
    width: 83.333%;
    max-width:  83.333%;
}
.w-100{
    width: 100%;
  
}

.max-w-100{
    max-width: 100%;
}
.min-w-100{
    min-width: 100%;
}
.overlow-x-scroll{
    overflow-x: scroll;
}
.gap-80{
    gap:8rem
}

.btn.btn-now{
    padding: 1.6rem 4rem;
    border-radius: 5.3rem;
    border: none;
    outline: none;
    color:var(--green-primary);
    font-weight: 600;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    
}
.btn.btn-now:hover::after{
width: 100%;
left: 0;
}
.btn.btn-now::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background-color: var(--orange-primary);
    border-radius: 5.3rem;
    transition: all .3s ease-in;
}
.btn.btn-now span{
    z-index: 2;
    transition: all .4s;
}
.btn.btn-now:hover > span{
  
   color: white;
}
.btn.btn-now:hover  path{
    transition: all .3s ease-in;
    stroke: #fff !important;
}
.text-center{
    text-align: center;
}
.text-bold{
    font-weight: 700;
}
table{
    width: 100%;
    thead{
        width: 100%;
        tr{
         th{
             padding: 1.6rem;
         }
        }
     }
     tbody{
         tr{
             td{
                 padding: 1.6rem 2.4rem;
                 text-align: center;
                 img{
                     width: 2.4rem;
                     height: 2.4rem;
                 }
             }
         }
     }
     
}
.url_image{
    color: red;
    font-size: 1.6rem;
    display: block;
    margin-bottom: 2.4rem;
    cursor: pointer;
    
}
.message-icon{
    margin-right: 1.6rem;
    margin-top: .6rem;
    svg{
        fill: #00b207;
    }
}
.error-message{
    color: red;
    margin-bottom: 1.2rem;
    padding: 0 1.2rem;
}
.tippy-box.custom-tooltip-class{
    background-color: white;
}
.custom-tooltip-class .tippy-content{
    background-color: white;
    width: 14rem;
    height: 4.2rem;
    border-radius: .8rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0;
    div{
        height: 100%;
        a{
            height: 100%;
        }
    }
}
.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    transition: all .4s;
    &-overlay {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100vh;
    }
  }
  @media(min-width:1201px){
    .hidden-pc{
        display: none;
    }
}
@media(max-width:1200px){
    .hidden-lg-tablet{
        display: none;
    }
}
@media(max-width:1024px){
    .hidden-tablet{
        display: none !important;
    }
}
@media(max-width:691px){
    .hidden-s-tablet{
        display: none !important;
    }
}

@media (max-width:690px){
    .btn.btn-now{
        padding: 1rem 2rem;
    }
    .hidden-mobile{
        display: none !important;
    }
}

@media (max-width:599px){
    .container{
       
        padding: 0rem 1rem;
    }
    .btn.btn-now::after{
        background-color: unset;

    }
    .btn.btn-now:hover > span{
        color: unset;
    }
}
