.icon-trash{
       
    svg{
        width: 2.8rem;
        height: 2.8rem;
       
    }
    path{
        width: 2.8rem;
        height: 2.8rem;
        fill:blue;
    }
}

.icon-gear{
    svg{
        fill:red;
        margin-top: .2rem;
        width: 2.2rem;
        height: 2.2rem;
    }
}
